<div class="bg-body dark:bg-darkmode-body">
  <a href="{{ .RelPermalink }}">

  {{/*  Preview image  */}}
  {{ $image:= .Params.image }}
  {{ if $image }}
      {{ partial "image" (dict "Src" $image "Context" .Page "Alt" .Title "Class" "mb-6 w-full rounded") }}
  {{ end }}

  {{/*  Clickeable title  */}}
  <div class="project-title">
    <h4> {{ .Title }} </h4>
    {{ partial "engine-logo.html" (dict "Engine" .Params.engine ) }}
  </div>
  
  {{/*  Summary  */}}
  <p class="mb-6">{{ .Summary }}</p>
  
  {{/*  Button  */}}
  <a class="btn btn-outline-primary btn-sm" href="{{ .RelPermalink }}">
    {{ T "read_more" }}
  </a>
</a>
</div>
