// Add your own custom styles here

hr {
  @apply border-neutral-500 dark:border-neutral-700 #{!important};
}

.social-icons {
  @apply -space-x-1;
  li {
    @apply inline-block;
    a {
      @apply bg-transparent dark:bg-transparent dark:text-gray-300 flex leading-none text-2xl text-white;
      svg {
        @apply w-full h-full;
      }
    }
  }
}

.home-page-style {
  @apply flex flex-col items-center justify-center text-center;
}

.custom-link {
  color: #fb7e14 !important;
  font-weight: bold;
}

.custom-link:hover {
  color: #ffffff !important;
  font-weight: bold;
}

.badge {
  @apply ml-1 mr-1 rounded-md border bg-neutral-100 dark:bg-neutral-900 px-1 py-[1px] text-xs font-normal border-gray-800 dark:border-gray-300 text-gray-800 dark:text-gray-300
}

.dev-prefix {
  justify-content: space-between;
  @apply flex flex-row items-center justify-items-center text-base font-primary font-medium leading-relaxed text-text dark:text-darkmode-text mb-6;
}

@import "project-modal";