// Add your own custom styles here

.my-social-icons {
    @apply space-x-4; /* Adjusted spacing */
    display: flex; /* Use flexbox for better control over spacing */
    flex-wrap: wrap; /* Allow items to wrap onto new lines if needed */
    li {
      @apply mr-0; /* Right margin on list items for spacing */
      a {
        svg {
          @apply h-10 w-10; /* Adjusted icon size */
        }
      }
    }
}

.modal-content {
  background-color: #555;
}