.modal-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 40;
    display: none;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
  }

.modal-content {
    //background-color: #202020;
    //background-color: #171717; //neutral-900
    top: 1%;
    z-index: 50;
    transform: translateY(0%);
    border-radius: 0.5rem;
    padding: 2rem;
    max-width: 100%;
    margin: 0 auto;
    @apply max-w-fit max-h-fit mx-auto dark:bg-neutral-900
}
  
.modal-btn {
    @apply border-dark text-dark dark:bg-neutral-900 hover:bg-dark dark:hover:text-dark bg-transparent hover:text-white dark:border-darkmode-primary dark:text-white dark:hover:bg-darkmode-primary;
}

.project-content {
    @apply mx-auto lg:col-11
}

.project-background {
    border-radius: 0.5rem;
}

.project-video {
    @apply mx-auto max-w-4xl
}

.project-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @apply mb-3
}

.techs-logo-container {
    display: flex;
    gap: 5px;
}

.tech-logo {
    height: auto;
    @apply w-[32px]
}

.gallery {
    display: flex;
    flex-wrap: nowrap;
    margin-left: 0px;
    margin-right: 0px;
    @apply mx-auto max-w-2xl
}

.gallery .gallery-item {
    margin: 0 5px;
    margin-bottom: 0px; // This was 20px to handle margin between items vertically. I set it to 0 because I'm using "nowrap" in .gallery, so only a row of images
    overflow: visible;
    max-width: calc(100% - 20px);
}

.gallery::after {
    content: "";
    flex-grow: 0;
    min-width: 0px;
    max-width: 0px;
}

.project-hr {
    @apply mb-2 mt-2
}

@media (max-width: 460px) {
    .gallery {
        flex-direction: row;
    }
    .gallery .gallery-item {
        width: calc(100% - 20px) !important;
    }
}