{{ $engine := .Engine | default ""}}
{{ $iconClass := .IconClass | default ""}}

{{ $darkLogo := "" }}
{{ $lightLogo := "" }}
    {{ with . }}
        {{ $darkPath := print "images/logos/" $engine "-dark.svg" }}
        {{ $lightPath := print "images/logos/" $engine "-light.svg" }}
        {{ $darkLogo = resources.Get $darkPath }}
        {{ $lightLogo = resources.Get $lightPath }}
    {{ end }}
{{ if $darkLogo }}
    <img src="{{ $darkLogo.RelPermalink }}" alt="engine-dark" class="{{ if ne $iconClass "" }}{{ $iconClass }}{{ end }} project-logo img logo-dark" >
{{end}}
{{ if $lightLogo }}
    <img src="{{ $lightLogo.RelPermalink }}" alt="engine-light" class="project-logo img logo-light">
{{end}}