
<div class="modal" data-modal>
    <div class="modal-overlay" data-project-modal-close data-modal-overlay></div>
        <div class="modal-content">

            {{/*  Background image 
            TODO: Move this to a partial if need to reutilize */}}
            <div class="fixed inset-x-0 top-0" style="z-index:-10">
                {{ $background := "" }}
                {{ with .Params.background }}
                    {{ if or (strings.HasPrefix . "http:") (strings.HasPrefix . "https:") }}
                        {{ $background = resources.GetRemote . }}
                    {{ else }}
                        {{ $background = resources.Get . }}
                    {{ end }}
                {{ end }}
                {{ if $background }}
                    <img class="project-background w-full h-full object-cover m-0 nozoom" src="{{ $background.RelPermalink }}" role="presentation">
                    <div
                        class="project-background absolute inset-0 h-full bg-gradient-to-t mix-blend-normal from-white to-transparent dark:from-neutral-900">
                    </div>
                    <div
                        class="project-background opacity-80 dark:opacity-60 absolute inset-0 h-full bg-gradient-to-t mix-blend-normal from-white to-white dark:from-neutral-900 dark:to-neutral-800 ">
                    </div>
                {{ end }}
            </div>

            <h1 class="text-center"> {{ .Title }} </h1>

            {{/*  Get the techs titles to append them to the custom badges  */}}
            {{ $data := partial "tools/load-json.html" "data/techs.json" }}
            {{ $techsTitles := slice }}

            {{ range .Params.techs }}
                {{ $techData := index $data .}}
                {{ $techsTitles = $techsTitles | append (index $techData "title") }}
            {{end}}

            {{/*  badges  */}}
            {{ $badges := union $techsTitles .Params.badges}}
            {{ partial "badge.html" $badges }}
            
            <div class="content project-content">
                <body>
                    {{ .Content }}
                </body>

                <hr class="project-hr">
                {{ range .Params.list }}
                    <li>
                        {{ . }}
                    </li>
                {{end}}
                <hr class="project-hr">
            </div>

            {{/*  youtube  */}}
            {{ $id := .Params.youtube}}
            {{ if $id }}
            <div class="mt-5">
                {{ partial "youtube-lite.html" (dict "Id" $id "Class" "project-video" ) }}
            </div>
            {{else}}
            {{ $video := .Params.video }}
                {{ if $video }}
                <div class="mt-5">
                {{ partial "video.html" (dict "Src" $video "Class" "project-video") }}
                </div>
                {{end}}
            {{end}}

            {{ $carousel := .Params.carousel}}
            {{ if $carousel }}
            <hr class="project-hr">
            <div class="mt-5">
                {{ partial "slider.html" (dict "Dir" $carousel "Class" "project-video") }}
            </div>
            {{end}}

            <hr class="project-hr">
            {{ $currentSlug := split .RelPermalink "/" | last 2}}
            {{ $gallery := print "images/" (index $currentSlug 0) }}
            {{ $assetsImage:= resources.Match (add (string $gallery) `/*`) }}
            {{ if $assetsImage }}
                {{ partial "gallery.html" (dict "Dir" $gallery "Command" "Fill") }}
            {{end}}

        <button class="modal-close" data-project-modal-close>&times;</button>
    </div>
</div>